mods/
jarmods/
disabledmods/
crash-reports/
journeymap/data/
journeymap/icon/
journeymap/server/
journeymap/journeymap.log
logs/
resourcepacks/
saves/
schematics/
shaderpacks/
*.zip
*.jar
information.txt
usercache.json
usernamecache.json